// aspectos generales --------------------------------------------> 

*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
//font-family: 'Roboto', sans-serif;

// mobile
@media only screen and (max-width: 500px) {
    body {
        background-color:$background;
    }


}
// tablet
@media only screen and (min-width: 501px) and (max-width: 961px) {
    body {
        background-color: $background;
    }


}
// desktop
@media only screen and (min-width: 961px) {
    body {
        background-color: $background;
    }

}

html{
    font-family: $tipografia;
    font-size: 62.5%;
    background: linear-gradient(to right, #262626 0%, $background 100%);

}

// estilos generales --------------------------------------------> 

p{
    color: rgb(168, 168, 168);
    font-family: $tipografia;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    font-weight: 400;
}

.Subtitulo{
    color: rgb(185, 185, 185);
    font-family: $tipografia;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}


h1{
    color: $blanco;
    font-family: $tipografia;
    font-weight: 200;
    font-size: 5rem;
    margin-left: 15px;
    padding-top: 20px;
    text-align: center;

}

h2{
    font-size: 4rem;
    font-weight: 500;
    color: $blanco;
}

h3{
    font-size: 3rem;
    color:$blanco;
    font-weight: 300;
}

h4{
    font-size: 1,5rem;
    color: rgb(194, 194, 194);
    font-weight: 200;
    text-align: center;
}



// header y footer ------------------------------------------------------->

@import url(partials/_headerfooter.scss);



// index ------------------------------------------------------->

@import url(partials/_index.scss);

  // sección hola ------------------------------------------------------->


 @import url(partials/_hola.scss);

  // sección servicios ------------------------------------------------------->

  @import url(partials/_servicios.scss);

  // sección items portfolio ------------------------------------------------------->

@import url(partials/_portfolio.scss);

  // sección contacto ------------------------------------------------------->

  @import url(partials/_contacto.scss);

  // responsive -------------------------------------------------->

  @media screen and (max-width: 961px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  
  @media screen and (max-width: 500px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


