    // header -------------------------------------------------->

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: $tipografia;
  }
  
  .nav {
    height: 50px;
    width: 100%;
    position: sticky;
    z-index: 8;
    .nav-header {
        display: inline;
      }

  }
 
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    font-weight: 200;
  }
  
  .nav > .nav-links > a:hover {
    color: rgb(95, 95, 95);
    transition: all 0.3s ease;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: sticky;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: $background;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid $blanco;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: $background;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

    
    @media only screen and (min-width: 501px) and (max-width: 961px){
        .nav-list{
            display: block !important;
        }
    }




    // footer -------------------------------------------------->
      
    .enlaces-footer{
        opacity: 80%;
    }
    .enlaces-footer:hover{
        opacity: 60%;
        transform: scale(1.3); 
    }
