
hr {
    position: relative;
    top: 20px;
    border: none;
    height: 2px;
    background: $grisFondo;
    margin-bottom: 50px;
    }
    
    
    .serviciosRow {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas:
    "serviciosColumn serviciosColumn serviciosColumn";
    justify-content: space-around;
    
    }
   
    @media (max-width:600px) {
    .serviciosRow {
        @extend  .holaRow;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 961px) {
    .serviciosRow {
        @extend  .holaRow;
    }
  }

    .serviciosColumn {
    text-align: center;
    justify-content: space-between;
    }
    
    
    .serviciosCard {
    margin-bottom: 30px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#383737 50%, #515050 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: $radius;
    }
    
    
    .serviciosCard p {
    color: $blanco;
    }
    
    
    .serviciosCard:hover {
    background-position: 0 100%;
    }
    
    
    .iconWrapper {
    background-color: #515050;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: $blanco;
    border-radius: 50%;
    margin-bottom: 10px;
    display: grid;
    place-items: center;
    transition: 0.10s;
    }
    
    
    .iconWrapper:hover .iconWrapper {
    background-color: $blanco;
    color: #515050;
    transition: 0.10s;

    }
    
  